/*共通*/
*{
    box-sizing: border-box;
}
body {    
    margin: 0 auto;
    font-family: "Noto Sans Japanese";
    color: #000;
    background-color: #fff;
}
h2, h3{
    font-size: 34px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 18px;
}

/*header*/
header{
    max-width: 980px;
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: space-between;
}
#title{
    text-align: left;
}
#title > h2{
    border: solid 1px #000;
    padding: 0 20px;
}
#nav{
    display: flex;
    text-align: right;
}
#nav > h2{
    padding: 0 20px;
}

/*main*/
#main-photo{
    margin: 0 auto;
    width: 100%;
}

/*about*/
#about{
    max-width: 820px;
    margin: 0 auto;
}
#about-title{
    text-align: center;
}
#about-main{
    display: flex;
    justify-content: center;
    width: 100%;   
}
#about-main > div{
    width: 50%;

}
#about-photo{
    text-align: center;
}
#about-photo > img{
    border-radius: 50%;
}

/*works*/
#works > h3{
    text-align: center;
}
#works{
    width: 752px;
    margin: 0 auto;
}
#works-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#works-main > div{
    padding: 0 10px;
    width: 33%;
}
.photo{
    max-width: 100%;
    height: auto;
}
#works-main  p{
    margin: 0;
}
footer > p{
    text-align: center;
}

@media (max-width: 768px){
    #body{
        max-width: 768px;
        height: auto;
        margin: 0 auto;
    }
    header{
        width:100%;
        margin: 20px auto;
    }
    #header{
        font-size: 14px;
        width: 100%;
        margin: 0 10px
    }
    #nav h2{
        padding: 0 10px;
    }
    #about{
        width: 100%;
        margin: 0 auto 100px auto;
        padding: 0 20px;
    }
    #about-main{
        display: block;
        margin: 0 auto;
    }
    #about-main > div{
        width: 100%;
        margin: 0 auto;
    }
    #about-photo{
        margin: 0 auto;
    }
    #about-photo > img{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    #profile{
        width: 100%;
        margin: 0 auto;
    }
    #profile > h4{
        margin: 0;
    }
    #profile > ul{
        width: 100%;
        display: block;
    }
    #works{
        width: 100%;
        margin: 0 auto;
        }
    #works-main{
        display: block;
    }
    #works-main > div{
        padding: 0 10px;
        width: 100%;
        text-align: center;
    }
    #works-main p{
        margin-bottom: 50px;
    }
}